<table class="table">
    <thead>
        <tr>
            <th>Số lượng</th>
            <th>Sản phẩm chính hãng</th>
            <th>Mặt hàng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">23</td>
            <td>GUCCI</td>
            <td>5</td>
        </tr>
        <tr>
            <td scope="row">17</td>
            <td>Louis Vuitton</td>
            <td>6</td>
        </tr>
        <tr>
            <td scope="row">20</td>
            <td>Dior</td>
            <td>3</td>
        </tr>
    </tbody>
</table>